@font-face {
  font-family: 'Lato';
  src: url('./assets/font/Lato/Lato-Black.ttf') format('truetype'),
    url('./assets/font/Lato/Lato-BlackItalic.ttf') format('truetype'),
    url('./assets/font/Lato/Lato-Bold.ttf') format('truetype'),
    url('./assets/font/Lato/Lato-BoldItalic.ttf') format('truetype'),
    url('./assets/font/Lato/Lato-Light.ttf') format('truetype'),
    url('./assets/font/Lato/Lato-LightItalic.ttf') format('truetype'),
    url('./assets/font/Lato/Lato-Regular.ttf') format('truetype'),
    url('./assets/font/Lato/Lato-RegularItalic.ttf') format('truetype'),
    url('./assets/font/Lato/Lato-Thin.ttf') format('truetype'),
    url('./assets/font/Lato/Lato-ThinItalic.ttf') format('truetype');
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  color: #4e4e4e;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
